body {
    font-family: sans-serif;
}
.flex-container {
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-container input {
    width: 100%;
    
}

input {
    display: block;
}

button {
    width: 100%;
}